@mixin responsive($device) {
  @if $device == 'mobile' {
    @media screen and (max-width: 550px) {
      @content;
    }
  }
}

@mixin modal() {
  display: flex;
  flex-direction: column;
  align-items: center;
}
