@import 'Utils/Styles/variables';

.message {
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid $lightgray;
  padding: 24px 85px 24px 110px;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  position: relative;

  &__profile {
    img {
      border-radius: 50%;
      object-fit: cover;
      position: absolute;
      top: 16px;
      left: 24px;
      width: 60px;
      height: 60px;
    }
    &--header {
      display: flex;
      margin-bottom: 8px;
      &-name {
        font-weight: 700;
        margin-right: 16px;
      }
      &-date {
        color: $lightgray;
        padding-top: 6px;
        font-size: 10px;
      }
    }
  }
  &__reply {
    font-size: 14px;
    color: $lightgray;
    margin-bottom: 8px;
  }
  &__contents {
    line-height: 1.5;
    font-size: 13px;
    font-weight: 500;

    &--text {
      padding: 12px;
      border-radius: 8px;
      display: inline-block;
      background-color: #f3f7ff;
      box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
    }
    & hr {
      border: none;
      border-bottom: 1px solid $gray;
    }
  }
  &__content--reply {
    margin-left: 16px;
  }

  &__btn {
    position: absolute;
    right: 2.5%;
    bottom: 7.5%;
    display: flex;
    align-items: center;
    button {
      cursor: pointer;
      border: none;
      background-color: transparent;

      img {
        height: 24px;
      }
    }
  }
}

.host {
  background-color: #f3f7ff;

  .message__contents--text {
    background-color: #f8e7a0;
  }
}
